<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-4">
      <h1>Bulbasaur</h1>
    </div>
    <div class="col-12 text-center mt-4">
      <img src="/assets/bulbasaur.png" alt="bulbasaur" width="300" routerLink="/bulbasaur/16" style="cursor: pointer;"/>
    </div>
    <div class="col-12 text-center mt-4">
      <h5>
        Tras nacer, crece alimentándose durante un tiempo de los nutrientes que contiene el bulbo de
        su lomo.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mt-4 mb-5">
        <button class="btn btn-success" routerLink="/ivysaur">Evolucionar</button>
    </div>
  </div>
</div>
