<div class="container text-center mt-4">

  <img src="/assets/pokemon-logo.png" alt="Logo Pokémon" width="300">

  <h1 class="mt-5">Línea evolutiva de Bulbasaur</h1>

  <p class="mt-4">
    Descubre la evolución del Pokémon <b>Bulbasaur</b> a través de sus tres formas.
  </p>

  <p class="mt-5">
  Esta es una demo interactiva desarrollada con Angular donde puedes explorar la evolución de Pokémon de forma visual, cambiando entre sus distintas etapas.
  </p>

  <a routerLink="/bulbasaur" class="btn btn-success mt-4 mb-5">
    Empezar
  </a>

</div>
