<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-4">
      <h1>Venusaur</h1>
    </div>
    <div class="col-12 text-center mt-4">
      <img src="/assets/venusaur.png" alt="venusaur" width="300"/>
    </div>
    <div class="col-12 text-center mt-4">
      <h5>
        Puede convertir la luz del sol en energía. Por esa razón, es más poderoso en verano.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mt-4 mb-5">
        <button class="btn btn-warning" routerLink="/ivysaur">Retroceder</button>
    </div>
  </div>
</div>
